
<div class="label-field-pair">
  <%= check_box_tag '_online_is_online' %>
  <label for="_online_is_online"><%= t('online_class') %></label>
</div>

<% @employees_subject.each do |sub| %>

  <div hidden class="online_class" style="margin-top: 30px">
    <label style="font-style: italic">Online Details
      for <%= Subject.find(EmployeesSubject.find(sub.id).subject_id).name %>
    </label>
  </div>
  <div hidden class="label-field-pair online_class   ">
    <label for="title"><%= t('meeting_link') %>:</label>
    <div class="text-input-bg" id="online_link">
      <%= text_field_tag "_online_meeting_link_#{sub.id}", nil, :placeholder => 'Please include http://', :type => 'url', :class => 'link' %>
    </div>
    <label style="color: darkred" hidden id='link_error'>Please enter a valid Meeting Link!</label>
  </div>

  <div hidden class="label-field-pair online_class " style="padding-top: 20px;">
    <label for="title"><%= t('meeting_id') %>:</label>
    <div class="text-input-bg" id="meeting_id">
      <%= text_field_tag "_online_meeting_id_#{sub.id}", nil, :placeholder => 'Enter Meeting ID', :class => 'meeting_id' %>
      <br></div>
  </div>

  <div hidden class="label-field-pair online_class  ">
    <label for="title"><%= t('pass_code') %>:</label>
    <div class="text-input-bg" id="pass_code">
      <%= text_field_tag "_online_meeting_passcode_#{sub.id}", nil, :placeholder => 'Enter Passcode', :class => 'passcode' %>
    </div>
  </div>

  <div hidden class="label-field-pair online_class  ">
    <label for="title"><%= t('google_class_code') %>:</label>
    <div class="text-input-bg" id="gclass_code">
      <%= text_field_tag "_online_gclass_code_#{sub.id}", nil, :placeholder => 'Enter Google Classroom code', :class => 'gclass_code' %>
    </div>
  </div>
<% end %>



<script>

    j(document).on('change', "input[id='_online_is_online']:checkbox", function () {
        if (j("input[id='_online_is_online']").is(':checked')) {
            j(".online_class").show();

        } else if (j("input[id='_online_is_online']").prop("checked") === false) {
            j(".online_class").hide();
        }
    });

    if (j("input[id='_online_is_online']").is(':checked')) {
        j(".online_class").show();
    }


    function validURL(str) {
        var pattern = new RegExp('^(http:\\/\\/|https:\\/\\/)' + // protocol
            '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|' + // domain name
            '((\\d{1,3}\\.){3}\\d{1,3}))' + // OR ip (v4) address
            '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*' + // port and path
            '(\\?[;&a-z\\d%_.~+=-]*)?' + // query string
            '(\\#[-a-z\\d_]*)?$', 'i'); // fragment locator
        return !!pattern.test(str);
    }

</script>







