
<% form_for :@online do |f| %>
<div class="label-field-pair">
  <%= f.check_box :is_online%>
  <label for="is_online" ><%= t('online_class') %></label>
</div>

<div  hidden class="label-field-pair online_class   ">
  <label for="title"><%= t('meeting_link') %>:</label>
  <div class="text-input-bg" id="online_link">
    <%= f.text_field :meeting_link, {:placeholder => 'Please include http://', :type => 'url',  :class => 'link'} %>
  </div>
  <label style="color: darkred" hidden id='link_error'  >Please enter a valid Meeting Link!</label>
</div>

<div  hidden class="label-field-pair online_class " style="padding-top: 20px;">
  <label for="title"><%= t('meeting_id') %>:</label>
  <div class="text-input-bg" id="meeting_id">
    <%= f.text_field :meeting_id, { :placeholder => 'Enter Meeting ID', :class => 'meeting_id' }  %>
  <br></div>
</div>

<div hidden class="label-field-pair online_class  ">
  <label for="title"><%= t('pass_code') %>:</label>
  <div class="text-input-bg" id="pass_code">
    <%= f.text_field :meeting_passcode, {:placeholder => 'Enter Passcode', :class => 'passcode'} %>
  </div>
</div>

  <div hidden class="label-field-pair online_class  ">
    <label for="title"><%= t('google_class_code') %>:</label>
    <div class="text-input-bg" id="gclass_code">
      <%= f.text_field :gclass_code, {:placeholder => 'Enter Google Classroom code', :class => 'gclass_code'} %>
    </div>
  </div>

<% end %>


<script>

    j(document).on('change', "input[id='_online_is_online']:checkbox", function () {
        if (j("input[id='_online_is_online']").is(':checked')) {
            j(".online_class").show();

        } else if (j("input[id='_online_is_online']").prop("checked") === false)  {
            j(".online_class").hide();
        }
    });

    if (j("input[id='_online_is_online']").is(':checked')) {
        j(".online_class").show();
    }


    function validURL(str) {
        var pattern = new RegExp('^(http:\\/\\/|https:\\/\\/)'+ // protocol
            '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|'+ // domain name
            '((\\d{1,3}\\.){3}\\d{1,3}))'+ // OR ip (v4) address
            '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*'+ // port and path
            '(\\?[;&a-z\\d%_.~+=-]*)?'+ // query string
            '(\\#[-a-z\\d_]*)?$','i'); // fragment locator
        return !!pattern.test(str);
    }


    function check_link(){
        if (j("input[id='_online_is_online']").is(':checked')) {
            var x = document.getElementById('_online_meeting_link').value;
            url = validURL(x)
            if (x == "" || url == false ) {
                j("#link_error").show();
                // j(".submit-disable").hide();
            }
            else {
                j("#link_error").hide();
                // j(".submit-disable").show();
            }
        }
    }

    j(document).on('keyup', "input[id='_online_meeting_link']:input", function () {
        check_link()
    });

    j(document).on('change', "input[id='_online_meeting_link']:input", function () {
        check_link()
    });

</script>




